<p>error-page works!</p>

<ul>
    <li>
        <h3>{{'Autentificacion' | uppercase}}</h3>
        <ul>
            <li><a routerLink="/auth/login">Ir a Login</a></li>
            <li><a routerLink="/auth/registro">Ir a Registro</a></li>
            <br>
        </ul>
    </li>
    <li>
        <h3>HEROES</h3>
        <ul>
            <li><a routerLink="/heroes/listado">Ir a Listado</a></li>
            <li><a routerLink="/heroes/agregar">Ir a Agregar</a></li>
            <li><a routerLink="/heroes/editar">Ir a Editar</a></li>
            <li><a routerLink="/heroes/buscar">Ir a Buscar</a></li>
            <li><a routerLink="/heroes/id">Ir a Heroe</a></li>
        </ul>
    </li>
</ul>