<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{heroe.superhero}}</mat-card-title>
        <mat-card-subtitle>{{heroe.alter_ego}}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="heroe | imagen" alt="Photo of a Shiba Inu">

    <mat-card-content>
        <h3> {{heroe.publisher}}</h3>
        <p>
            <strong>Primera Aparición:</strong>{{heroe.first_appearance }}
            <br>
            <strong>Personajes:</strong>{{heroe.characters}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button [routerLink]="['/heroes',heroe.id]" color="warn">Leer mas..</button>
        <button mat-button [routerLink]="['/heroes/editar',heroe.id]" color="info">Editar</button>
    </mat-card-actions>
</mat-card>